<div class="search section">
  <div class="row">
    <div class="col s12 m12">
      <% @search_results = [] # load dynamically from server %>
  <% if @search_results.present? %>
    <% @search_results.each do |item|%>
      <%= render :partial => 'shared/product', :locals => {:product => item} %>
    <% end %>
  <% else %>
  No Results found
  <% end %>
    </div>
  </div>
</div>

