header, header .side-nav li, header .side-nav li > a{
  padding: 0;
}
header .side-nav .collapsible-header{
  margin: 0;
}
header nav{
  background-color: #424242;
  color: black;
}
header .side-nav li:hover, header .side-nav li.active {
  background-color: #616161;
}
#logo-container{
  height: 56px;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i, header .side-nav a, header .side-nav .material-icons{
  height: 56px;
  line-height: 56px;
}
.icon-block .material-icons {
  font-size: inherit;
}
@media only screen and (min-width: 993px){
#content .right .input-field label{
  top: 3rem;
}
}

/* product box styling */

.actions {
    margin-bottom: 0;
}
.product {
    position: relative;
}
.actions {
    margin: 0;
}
.product.card .card-content,
.product.card .card-reveal {
    /*padding-bottom: 80px;*/
}

.product.card .card-image {
    text-align: center;
}

.product.card .card-image img.activator {
    width: auto;
    max-width: 100%;
}

/*contributor styling*/

.ctbn-percent-pledged {
  background-color: #2BDE73;
  height: 100%;
  border-radius: 8px;
}

.ctbn-progress-bar {
    height: 8px;
}

.ctbn-stats {
  display:flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-around;
  margin-top:15px;
}
.ctbn-stats > li{
  display: inline-block;
  text-align:center;
}
.ctbn-stats .ctbn-stats-label {
  color:grey;
  font-size:small;
}

.ctbn-stats .ctbn-stats-value {
  font-weight:bold;
}

/*wishlist styling*/
.product .wishlist .add {
  visibility:hidden;
}
.product:hover .wishlist .add {
  visibility:visible;
}

/*
.search-wrapper{
  position:absolute;
  right:0;
  z-index: 99999;
}
*/
.search-wrapper label[for='search']{
  top: 48px;
}
/* fb styling */

.fb-comments.fb_iframe_widget {
    width: 300px;
}

.fb_iframe_widget span {
    width: 100% !important;
}

.fb_iframe_widget iframe {
  max-width: 100% !important;
  width: 300px !important;
}


.share-wrapper .fb-like.fb_iframe_widget {
    width: 100% !important;
}

.share-wrapper .fb-like.fb_iframe_widget span {
    width:300px !important;    
    height: 50px !important;
}

.share-wrapper .fb-like.fb_iframe_widget >span >iframe{
    height:50px !important;
}

