<div class="home-wrapper">
  <div class="parallax-container">
    <div class="parallax"><img src="images/parallax1.jpg"></div>
  </div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Wishlist</h1>
      <div class="row center">
        <h5 class="header col s12 light">One place to fullfil your wishes</h5>
      </div>
      <div class="row center search-wrapper hide-on-med-and-down">
        <form action='#!'>
          <div class="input-field">
            <label for="search"><i class="material-icons left small white-text">search</i></label>
            <input id="search" type="search" placeholder='search' required='required'>
          </div>
        </form>
      </div>
      <div class="row center">
        <a href="#!" id="get-started" class="btn-large waves-effect waves-light orange">What are you looking for?</a>
      </div>
    </div>
  </div>
</div>
<style>
.home-wrapper{
position: relative;
}
.home-wrapper #index-banner{
  position:absolute;
  top:0;
  width: 100%;
  font-weight: bold;
  color: #FFF;
}
</style>
