<div class="home-wrapper">
  <div class="parallax-container">
    <div class="parallax"><img src="images/parallax1.jpg"></div>
  </div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center purple-text">Wishlist</h1>
      <div class="row center">
        <h5 class="header col s12 light teal-text">Making your wish a reality</h5>
      </div>
      <div class="row center search-wrapper hide hide-on-med-and-down">
        <form method='post'  action='#!'>
          <div class="input-field">
            <label for="search"><i class="material-icons left small white-text">search</i></label>
            <input id="search" type="search" placeholder='search' required='required'>
          </div>
        </form>
      </div>
      <div class="row center">
        <form method='post' href="#!" id="get-started" class='hide' action='/search/add_catalogs'>
          <input type='hidden' name="site_id" id="site_id">
          <input type='hidden' name="cat_ids" id='cat_ids'>
          <button class="btn waves-effect waves-light" type="submit" name="action">Ceate my wishlist
            <i class="material-icons">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
.home-wrapper{
position: relative;
}
.home-wrapper #index-banner{
  position:absolute;
  top:0;
  width: 100%;
  font-weight: bold;
  color: #FFF;
}
.parallax-container {
        height: 400px;
}
</style>
