<div class='share-wrapper'><div class="fb-like" data-href="http://#{@site.name}.wishlist.dev" data-width="300" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div><div class="parallax-container">
  <div class="parallax"><img src="images/site.jpg"></div>
</div>
<style>
.share-wrapper{
  position:absolute;
  right:10px;
  top:400px;
  z-index: 9999;
}
</style>
